.home-content {
    flex-grow: 1;
    padding: 20px; 
}
.section {
    margin-bottom: 40px;
}
.section-title {
    font-size: var(--font-keypad-digit-size);
    margin-bottom: 5px;
}
.home-table {
    width: auto;
    border-collapse: collapse;
    text-align: left;
    margin-top: 20px;
}
.home-table th,
.home-table td {
    padding: 8px;
    border: 1px solid var(--colour-grey-stronger);
    white-space: nowrap;
}
.home-table th {
    background-color: var(--colour-grey);
    color: var(--colour-keypad-button-background);
    text-align: center;
}
.home-table tr:hover {
    background-color: var(--colour-keypad-button-hover);
}