body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    background-color: var(--colour-white);
    flex-direction: column;
}
.grid-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}
.content-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    text-align: center;
    font-size: 15px;
    color: var(--colour-black);
}
.stats-table {
    width: 410px;
    margin-bottom: 10px;
}
.stats-table table {
    border-collapse: collapse;
    width: 100%;
}
.stats-table td {
    padding: 4px;
    text-align: left;
}
.sudoku-title, .sudoku-author {
    background-color: var(--colour-sudoku-name-background);
    color: var(--colour-white);
    text-align: center;
    font-size: var(--font-button-size);
    font-weight: bold;
    border-radius: var(--border-radius-round-corners);
}
.scrollable-cell {
    max-height: 120px;
    overflow-y: auto;
    padding: 10px;
    background-color: var(--colour-sudoku-instructions-background);
    border-radius: var(--border-radius-round-corners);
}