:root {
    --font: Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    --font-button-size: 1.50rem;
    --font-keypad-digit-size: 2.00rem;
    --font-cell-digit-size: 3.00rem;
    --corner-text-size: 1.10em;
    --center-text-size: 1.20em;
    --colour-white: rgb(255,255,255);
    --colour-black: rgb(0,0,0);
    --colour-grey: rgb(238,238,238);
    --colour-grey-stronger: rgb(206,206,206);
    --colour-user-click-highlighting: rgb(76,164,255);
    --colour-user-digit: rgb(29,106,229);
    --colour-conflict: rgb(217,156,156);
    --colour-pencilmark-conflict: rgb(179,58,58);
    --colour-keypad-button-background: rgb(106,27,154);
    --colour-keypad-button-hover: rgb(232,124,241);
    --cursor: pointer;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: var(--colour-white);
}
.grid-container {
    display: flex;
    align-items: center;
    gap: 20px;
}
.sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1px;
    background-color: var(--colour-black);
    border-width: 4px;
    border-style: solid;
    border-color: var(--colour-black);
    width: 608px;
    height: 608px;
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-cell-digit-size);
    font-family: var(--font);
    color: var(--colour-black);
    background-color: var(--colour-white);
    position: relative;
    user-select: none;
    cursor: var(--cursor);
    caret-color: transparent;
    width: 65px;
    height: 65px;
}
.cell::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 8px solid transparent;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 1;
}
.cell.clicked::before {
    border-color: var(--colour-user-click-highlighting);
}
.cell[data-row="3"], .cell[data-row="6"], .cell[data-row="9"] {
    border-bottom: 4px  var(--colour-black);;
}
.cell[data-row="4"], .cell[data-row="7"] {
    border-top: 4px solid var(--colour-black);;
}
.cell[data-col="3"], .cell[data-col="6"] {
    border-right: 4px solid var(--colour-black);;
}
.cell.right-shared::before {
    border-right-color: transparent;
    border-right-width: 1px;
}
.cell.left-shared::before {
    border-left-color: transparent;
    border-left-width: 1px;
}
.cell.top-shared::before {
    border-top-color: transparent;
    border-top-width: 1px;
}
.cell.bottom-shared::before {
    border-bottom-color: transparent;
    border-bottom-width: 1px;
}
.cell:focus {
    outline: none;
}
.cell.conflict-highlighted {
    background-color: var(--colour-conflict);
    text-shadow: -1px 0 var(--colour-white), 0 1px var(--colour-white), 1px 0 var(--colour-white), 0 -1px var(--colour-white);
}
.conflict-highlighted-pmark {
    color: var(--colour-pencilmark-conflict);
    text-shadow: -1px 0 var(--colour-white), 0 1px var(--colour-white), 1px 0 var(--colour-white), 0 -1px var(--colour-white);
}
.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--center-text-size);
}
.cell .corner-text {
    position: absolute;
    font-size: var(--corner-text-size);
    z-index: 2;
    text-shadow: -1px 0 var(--colour-white), 0 1px var(--colour-white), 1px 0 var(--colour-white), 0 -1px var(--colour-white);
}
.cell .corner-text:nth-child(1) {
    top: 0;
    left: 0;
}
.cell .corner-text:nth-child(2) {
    top: 0;
    right: 0;
}
.cell .corner-text:nth-child(3) {
    bottom: 0;
    right: 0;
}
.cell .corner-text:nth-child(4) {
    bottom: 0;
    left: 0;
}
.cell .corner-text:nth-child(5) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.cell .corner-text:nth-child(6) {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.cell .corner-text:nth-child(7) {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.cell .corner-text:nth-child(8) {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.cell .corner-text:nth-child(9) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.keypad {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.keypad-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.keypad-button {
    width: 69px;
    height: 69px;
    margin-right: 5px;
    cursor: var(--cursor);
    font-size: var(--font-keypad-digit-size);
    font-family: var(--font);
    color: var(--colour-white);
    border: none;
    background-color: var(--colour-keypad-button-background);
    border-radius: 15px;
    justify-content: center;
}
.keypad-button.center-text {
    text-align: center;
    font-size: var(--center-text-size);
}
.keypad .keypad-button.corner-text {
    text-align: center;
    font-size: var(--corner-text-size);
}
.keypad-button.corner-text:nth-child(1),
.keypad-button.corner-text:nth-child(4),
.keypad-button.corner-text:nth-child(7) {
    text-align: left;
}
.keypad-button.corner-text:nth-child(3),
.keypad-button.corner-text:nth-child(6),
.keypad-button.corner-text:nth-child(9) {
    text-align: right;
}
.keypad-button.corner-text:nth-child(2),
.keypad-button.corner-text:nth-child(5),
.keypad-button.corner-text:nth-child(8) {
    text-align: center;
}
.keypad-button.keypad-delete {
    padding: 15px 75px;
    display: flex;
}
.keypad-button:hover {
    background-color: var(--colour-keypad-button-hover);
}
.other-button-pressed {
    font-size: var(--font-button-size);
    color: var(--colour-white);
    width: 100px; 
    height: 50px;
}
.keypad-button.other-button {
    width: 50%;
    height: 50px;
    font-size: var(--font-button-size);
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--colour-keypad-button-background);
    background-color: var(--colour-grey);
    border: 2px solid var(--colour-grey-stronger);
}
.keypad-button.other-button:hover{
    background-color: var(--colour-keypad-button-hover);
}
.keypad-button#undo-button, .keypad-button#redo-button {
    width: 69px;
    height: 50px;
    font-size: var(--font-button-size);
}
.keypad-block {
    display: inline-flex;
}
.user-digit {
    color: var(--colour-user-digit);
}
.user-digit::selection {
    background: transparent;
}
.landing-page, .register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.landing-button {
    margin: 10px;
    width: 15%;
    height: 69px;
    font-size: var(--font-keypad-digit-size);
    font-weight: 500;
    font-family: var(--font);
    color: var(--colour-white);
    justify-content: center;
    border: none;
    background-color: var(--colour-keypad-button-background);
    border-radius: 15px;
}
.landing-button:hover{
    background-color: var(--colour-keypad-button-hover);
}
.input-container {
    display: flex;
    flex-direction: column;
}
#username, #password {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    font-size: var(--font-keypad-digit-size);
}
.reset-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
}