body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(255,255,255);
}

.grid-container {
    display: flex;
    align-items: center;
    gap: 20px;
}
.sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1px;
    background-color: rgb(3, 3, 3);
    border-width: 4px;
    border-style: solid;
    border-color: rgb(3, 3, 3);
    width: 608px;
    height: 608px;
    position: relative;
    flex: 1;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: Tahoma;
    color: rgb(3,3,3);
    background-color: rgb(255,255,255);
    position: relative;
    user-select: none;
    cursor: pointer;
    caret-color: transparent;
    width: 65px;
    height: 65px;
}
.cell::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 8px solid transparent;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 1;
}
.cell.clicked::before {
    border-color: rgb(76,164,255);
}

.cell[data-row="3"], .cell[data-row="6"], .cell[data-row="9"] {
    border-bottom: 4px  rgb(3,3,3);
}

.cell[data-row="4"], .cell[data-row="7"] {
    border-top: 4px solid rgb(3,3,3);
}

.cell[data-col="3"], .cell[data-col="6"] {
    border-right: 4px solid rgb(3,3,3);
}

.cell[data-col="4"], .cell[data-col="7"] {
    border-left: none;
}
.cell[data-col="9"] {
    border-right: none;
}
.cell.right-shared::before {
    border-right-color: transparent;
    border-right-width: 1px;
}
.cell.left-shared::before {
    border-left-color: transparent;
    border-left-width: 1px;
}
.cell.top-shared::before {
    border-top-color: transparent;
    border-top-width: 1px;
}
.cell.bottom-shared::before {
    border-bottom-color: transparent;
    border-bottom-width: 1px;
}

.cell:focus {
    outline: none;
}
.cell.conflict-highlighted {
    background-color: rgb(217,156,156);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.conflict-highlighted-pmark {
    color: rgb(179,58,58);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15em;
}

.keypad {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-size: 1.5rem;
}
.keypad-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.keypad-row:last-child {
    justify-content: flex-start;
}
.keypad-button {
    width: 69px;
    height: 69px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
    font-family: Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(106,27,154);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}
.keypad-button.keypad-0 {
    margin-right: 5px;
}
.keypad-button.center-text {
    text-align: center;
    font-size: 1rem;
}
.keypad-button.keypad-delete {
    padding: 15px 75px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.keypad-button:hover {
    background-color: rgb(232, 124, 241);
}
.other-button-pressed {
    color: #333;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
  }
.other-button,.other-button-pressed {
    width: 100px; 
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.keypad-button.other-button {
    width: 50%;
    height: 50px;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgb(106,27,154);
    background-color: rgb(238,238,238);
    border: 2px solid rgb(206,206,206);
}
.keypad-button.other-button:hover{
    background-color: rgb(232, 124, 241);
}
.keypad-button#undo-button, .keypad-button#redo-button {
    width: 69px;
    height: 50px;
    font-size: 1.5rem;
}

.keypad-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}
.mode-keypad-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.keypad-block {
    display: inline-flex;
}
.keypad-spacer {
    flex-grow: 1;
}

.user-digit {
    color: rgb(29,106,229)
}
.user-digit::selection {
    background: transparent;
}

.landing-page, .register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing-button {
    margin: 10px;
    width: 15%;
    height: 69px;
    font-size: 2rem;
    font-weight: 500;
    font-family: Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(106,27,154);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}
.landing-button:hover{
    background-color: rgb(232, 124, 241);
}

.input-container {
    display: flex;
    flex-direction: column;
}
#username, #password {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    font-size: 16px;
}
.reset-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
}